<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      #charts-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
      }
      .chart {
        width: 100%;
        height: 300px;
      }
    </style>
    <link rel="stylesheet" href="../static/styles/Style.css" />
    <title>E-Quality</title>
  </head>
  <body>
   <div class="header">
    <h1>E-Quality Engineering</h1>
  </div>
  <div class="main-content">
    <form action="." method="post">
      <div class="asking-input">
        <h2>Questionner votre base de données</h2>
        <input type="text" placeholder="Entrez votre requête" name="request" />
        <button type="submit" id="submit">Soumettre</button>
      </div>
    </form>
  </div>
  <div id="charts-container"></div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var chartsContainer = document.getElementById('charts-container');

      function addChart(title,chartData) {
        var chartContainer = document.createElement('div');
        chartContainer.classList.add("chart")
        var chartCanvas = document.createElement('canvas');
        chartContainer.appendChild(chartCanvas);
        chartsContainer.appendChild(chartContainer);
        var chartTitle = document.createElement('h3');
        chartTitle.textContent = title;
        chartContainer.appendChild(chartTitle);
        new Chart(chartCanvas.getContext('2d'), chartData);
      }

      document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();
        var request = document.querySelector('input[name="request"]').value;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            var chartData = response.chartData;
            var title = response.title;

            if (chartData) {
              addChart(title,chartData);
            } else {
              var responseDiv = document.createElement('div');
              responseDiv.textContent = responseData;
              chartsContainer.appendChild(responseDiv);
            }
          }
        };
        xhr.send('request=' + encodeURIComponent(request));
      });
    });
  </script>
</html>
